#!/bin/bash

RED='\033[0;31m'
NC='\033[0m' # No Color
git fetch --all

UPSTREAM=${1:-'@{u}'}
LOCAL=$(git rev-parse @)
REMOTE=$(git rev-parse "$UPSTREAM")
BASE=$(git merge-base @ "$UPSTREAM")
ACTION=""
if [ $LOCAL = $REMOTE ]; then
    ACTION="Up-to-date"
elif [ $LOCAL = $BASE ]; then
    ACTION="Need to pull"
elif [ $REMOTE = $BASE ]; then
    ACTION="Need to push"
else
    ACTION="Diverged"
fi
if [[ $ACTION == "Need to pull" || $ACTION == "Diverged" ]]; then
  echo -e "\n${RED}WARNING: there are changes upstream${NC}\n"

  # abort commit when there are changes upstream
  exit 1
fi
